{% extends 'main/bace.html' %}
{% block head_list %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/text.css' %}">
{% endblock %}
{% block url %}https://catherineasquithgallery.com/uploads/posts/2021-02/1612190588_53-p-fioletovii-fon-odnotonnii-na-ves-ekran-68.jpg{% endblock %}
{% block text_in_headers %}
    <a href="/" class=" text nav-link px-2">Головна</a>   
    <a href="text" class=" text_1 nav-link px-2">Відеокурси</a>
    <a href="/" class=" text nav-link px-2">П.Курси</a>
    <a href="buy" class=" text nav-link px-2">Про сайт</a>
{% endblock %}
{% block height %}height:100%;width:100%;{% endblock %}
{% block content %}
    <div class="golop">
        <button id='9' class="jon"><a class="nav-link text_text">Все</a></button>
        <button id='3' class="jon"><a class="text_text nav-link">JavaScript</a></button>
        <button id='19' class='jon'><a class="nav-link text_text">Python</a></button>
        <button id='100' class="jon"><a class="text_text nav-link">HTML</a></button>
        <button id='200' class='jon'><a class="nav-link text_text">CSS</a></button>
    </div>
    <div class='block_fofan'>
        <div id='block11' class="block1">
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_1.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_2.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_1.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_2.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_1.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_2.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_4.jpg' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_1.jpg' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_2.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_3.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_4.png' %}"></a>
        </div>
        <div id='block12' class="block2">
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/1.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/2.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/5.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/6.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/7.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/8.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/9.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/10.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/12.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/16.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/15.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/14.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/11.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/13.png' %}"></a>
        </div>
    </div>
    <div id='block111' class='block_fofan2'>
        <div class="block0">
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_1.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_2.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/javascript_4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/5.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/6.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/7.png' %}"></a>
        </div>
    </div>
    <div id='block1111' class='block_fofan3'>
        <div class="block0">
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_1.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_2.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/python_4.png' %}"></a>
        </div>
    </div>
    <div id='block11111' class='block_fofan4'>
        <div class="block0">
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_1.jpg' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_2.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_3.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/html_4.jpg' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_3.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/9.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/10.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/1.png' %}"></a>
        </div>
    </div>
    <div id='block111111' class='block_fofan5'>
        <div class="block0">
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_1.jpg' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_2.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_3.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/css_4.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/12.png' %}"></a>
            <a title="перглянути" href="/"><img class="video_index" src="{% static 'main/image/16.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/15.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/14.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/11.png' %}"></a>
            <a title="перглянути" class="video_index_2" href="/"><img class="video_index" src="{% static 'main/image/13.png' %}"></a>
        </div>
    </div>
    <div id='fh' class="golope">
        <button class='hgg' id='1cl'>
            <svg id='rot1' xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="lel bi bi-1-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
            </svg>
            <svg id='rot2' xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="lol bi bi-1-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"/>
            </svg>
        </button>
        <button class='hgg' id='2'>
            <svg id='rot3' xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="lel bi bi-2-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"/>
            </svg>
            <svg id='rot4' xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="lol bi bi-2-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"/>
            </svg>
        </button>
    </div>
    <div class="panel_11">
        <div class="panel_1">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="mt-2 bi bi-backpack2" viewBox="0 0 16 16">
                <path d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14"/>
                <path fill-rule="evenodd" d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z"/>
                <path d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z"/>
              </svg>
            <h1>ItSchool</h1>
        </div>
        <div class="panel_2">
            <a href="/" class="text nav-link px-2">Головна</a>
            <a href="/text" class="text_1 nav-link px-2">Відеокурси</a>
            <a href="/" class=" text nav-link px-2">П.Курси</a>
            <a href="/" class=" text nav-link px-2">Про сайт</a>
        </div>
        <div class="panel_3">
            <form class="form" role="search">
                <input type="search" class="input form-control" placeholder="Пошук..." aria-label="Search">
            </form> 
            <div class="panel_3_1">
                <button class="text nav-link px-2" id="google">Реєстрація</button>
                <button class="text nav-link px-2" id="hellog">Увійти</button>
            </div>
            
        </div>
    </div>
{% endblock %}
{% block script %}<script defer src="{% static 'main/js/text.js' %}"></script>{% endblock %}